@media only screen and (max-width: 428px) {

    #dropdown-basic-button {
        max-width: 95%;
        font-size: 85%;
    }

    .col-5 {
        padding: 0px;
    }
    .col-5 {
        padding: 1px;
    }
}

.mdc-top-app-bar {
    background-color: white !important;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item, .mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    color: #969696 !important;
}

.mdc-top-app-bar__title {
    color: #969696 !important;
    font-weight: 300 !important;
    letter-spacing: 0.1em !important;
}


#dropdowns-box{
    background-color: #1a73e8;
    padding: 10px;
}

#dropdown-basic-button {
    padding: 10px;
    color: #969696;
    background-color: white;
}

.material-icons {
    color: #969696;
    padding: 1px;
    font-size: 22px;
    margin-top: 4px;
}

.toggle-btn {
    border-radius: 50%;
    background-color: white;
}